img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  padding: 20px;
  font-family: 'Acme', sans-serif;
  background-image: linear-gradient(rgba(252, 227, 138, .9),rgba(255, 255, 255, .2)), url("https://picua.org/images/2020/03/25/5a58e84e1c52070b88ab342ec2b3bc16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border-radius: 4px;
  box-shadow: 2px 2px 4px #0000003b;
}

.link {
  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.activeLink {
  color: #ff0000;
}


.photoBlock {
  padding: 0 30px;
}

.descBlock {}

.poster {
  width: 300px;
}

.goBackButtonBlock {
  width: 100%;
  padding: 10px;
}

article {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #000000;
}

/* h2{
  text-align: center;
} */

.additionalCategory {
  border-bottom: 1px solid #000000;
}

.additionalInformation {
  padding: 10px 20px;
}