img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  height: 100%;
  width:100%;
  padding: 20px;
  font-family: 'Acme', sans-serif;
  background-image: linear-gradient(rgba(252, 227, 138, .9),rgba(255, 255, 255, .2)), url("https://picua.org/images/2020/03/25/5a58e84e1c52070b88ab342ec2b3bc16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border-style: none;
  border-radius: 0 6px 6px 0;
  box-shadow: 2px 1px 4px #8d7f4e;
  outline-style: none;
  background-color: #fce38a;
}

button:hover{
  cursor: pointer;
  transform: scale(1.2);
  font-weight: bold;
}

form{
  padding: 20px 0;
}

input{
  outline-style: none;
  border-radius: 6px 0 0 6px;
}

.link {
  text-decoration: none;
  /* transition: transform .2s linear; */
}

.link:not(:last-child) {
  margin-right: 10px;
}

.link:hover{
transform: scale(1.2);
}

.activeLink {
  color: #ff0000;
}

.filmLink:hover{
background-color: #fce38a;
font-size: 1.2-large;
}


.photoBlock {
  padding:20px;
}

.descBlock {}

.poster {
  width: 300px;
}

.goBackButtonBlock {
  width: 100%;
  padding: 10px;
}

article {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #000000;
}

/* h2{
  text-align: center;
} */

.additionalCategory {
  border-bottom: 1px solid #000000;
}

.additionalInformation {
  padding: 10px 20px;
}